@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var lstKhachHang = ViewBag.lstKhachHang;
    var message = ViewBag.message;
}
@using WebNewBook.Model
@model KhachHang



<div class="container py-3" style="background-color: #f1f1f1;">
    <h3 style="font-weight: 700;">Danh sách khách hàng</h3>
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <h6>
                <form action="" class="row" >
                    <div class="col-5 mb-3">
                        <input asp-action="Index" type="text" name="search" class="form-control" placeholder="Số điện thoại, Họ và tên,...">
                    </div>
                    <div class="col-5 mb-3">
                        <select name="status" class="form-select" aria-label="Default select example">
                            <option  selected>Chọn trạng thái</option>
                            <option  value="1">Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                    </div>
                    @*<p>@lstKhachHang.ID_KhachHang.Count().ToString() thành viên</p>*@
                 
                </form>
                <form class="needs-validation was-validated" onsubmit = "return(validate());">
                    <div class="col-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="fa-solid fa-address-book"></i> Thêm Khách hàng
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Thêm tài khoản mới</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <input asp-for="ID_KhachHang" type="hidden" value="null" class="form-control">
                                        <div class="mb-3 row">
                                            <label for="" class="col-sm-2 col-form-label">Họ tên</label>
                                            <div class="col-sm-10">
                                                <input asp-for="HoVaTen" type="text"  class="form-control" required>

                                            @*    <div class="invalid-feedback">Please fill out this field.</div>
                                                <div class="valid-feedback">
                                                     <font style="vertical-align: inherit"><font style="vertical-align: inherit"> Có vẻ tốt! </font></font>
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="" class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <input asp-for="Email" type="email"   class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="" class="col-sm-2 col-form-label">SDT</label>
                                            <div class="col-sm-10">
                                                <input asp-for="SDT" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="" class="col-sm-2 col-form-label">Địa chỉ</label>
                                            <div class="col-sm-10">
                                                <input asp-for="DiaChi" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="" class="col-sm-2 col-form-label">Ngày sinh</label>
                                            <div class="col-sm-10">
                                                <input asp-for="NgaySinh" type="date" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                            <div class="col-sm-10">
                                                <input asp-for="MatKhau" maxlength="" min="5" type="password" class="form-control" id="inputPassword" required>
                                            </div>
                                        </div>                                     
                                        <div class="mb-3 row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">Điểm tích lũy</label>
                                            <div class="col-sm-10">
                                                <input asp-for="DiemTichLuy" type="number" value="0" class="form-control" disabled id="inputPassword">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button asp-action="Add"  type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </h6>
        </div>
    </div>
    <br>
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <p>
               @if (message==1)
                {
                     <div class="toast fade show"
                     role="alert"
                     aria-live="assertive"
                     aria-atomic="true">
                    <div class="toast-header">

                        <rect width="100%" height="100%" fill="#007aff"></rect>
                       

                        <strong class="me-auto">Thông báo</strong>

                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                    <div class="toast-body bg-primary text-light">Thêm khách hàng thành công !</div>
                </div>
                }
                  @if (message==0)
                {
                     <div class="toast fade show"
                     role="alert"
                     aria-live="assertive"
                     aria-atomic="true">
                    <div class="toast-header">

                        <rect width="100%" height="100%" fill="#007aff"></rect>
                       

                        <strong class="me-auto">Thông báo</strong>

                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                    <div class="toast-body bg-primary text-light">Thêm khách hàng thất bại !</div>
                </div>
                }
                <table class="table">
                    <thead class="table-secondary">
                        <tr >

                            <th scope="col">Họ và tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Ngày Sinh</th>
                            <th scope="col">Điểm tích lũy</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col" style="text-align: center ;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in lstKhachHang)
                        {
                            <tr>

                                <td>@x.HoVaTen</td>
                                <td>@x.Email</td>
                                <td>@x.SDT</td>
                                <td>@x.DiaChi</td>
                                <td>@x.NgaySinh.ToString("d/M/yyyy")</td>
                                <td>@x.DiemTichLuy</td>
                                <td>@(x.TrangThai == 1 ? "Hoạt động" : "Vô hiệu hóa")  </td>
                          
                                <td>
                                    <button data-bs-toggle="modal" data-bs-target="#updateCustomer_@x.ID_KhachHang" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i></button>
                                  
                                      
                                        @if (x.TrangThai==1)
                                        {
                                            <a type="submit" class="btn btn-danger" asp-action="Delete" asp-route-Id="@x.ID_KhachHang"><i class="fa-solid fa-lock-open"></i></a>
                                        }
                                        @if (x.TrangThai == 0)
                                        {
                                            <a type="submit" class="btn  btn-success" asp-action="Delete" asp-route-Id="@x.ID_KhachHang"><i class="fa-solid fa-lock"></i></a>
                                        }
                                      
                                  
                                  
                                </td>

                                
                                <div class="modal fade" id="updateCustomer_@x.ID_KhachHang" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Sửa thông tin khách hàng</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                             <form asp-action="Update" >
                                            <div class="modal-body">
                                                <input asp-for="ID_KhachHang" value="@x.ID_KhachHang" type="hidden">
                                                <input asp-for="DiemTichLuy" value="@x.DiemTichLuy" type="hidden">
                                                <input asp-for="MatKhau" value="@x.MatKhau" type="hidden">
                                                <input asp-for="TrangThai" value="@x.TrangThai" type="hidden">
                                                <div class="mb-3 row">
                                                    <label for="" class="col-sm-2 col-form-label">Họ tên</label>
                                                    <div class="col-sm-10">
                                                            <input asp-for="HoVaTen" value="@x.HoVaTen" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="" class="col-sm-2 col-form-label">Email</label>
                                                    <div class="col-sm-10">
                                                            <input asp-for="Email" value="@x.Email" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="" class="col-sm-2 col-form-label">SDT</label>
                                                    <div class="col-sm-10">
                                                        <input asp-for="SDT" value="@x.SDT" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="" class="col-sm-2 col-form-label">Địa chỉ</label>
                                                    <div class="col-sm-10">
                                                            <input asp-for="DiaChi" value="@x.DiaChi" type="text" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="" class="col-sm-2 col-form-label">Ngày sinh</label>
                                                    <div class="col-sm-10">
                                                            <input asp-for="NgaySinh" value="@x.NgaySinh" type="text" class="form-control" required>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                  
                                                          <button type="submit" class="btn btn-primary">Sửa tài khoản</button>
                                                   
                                             
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>


                        }


                    </tbody>
                </table>
            </p>

        </div>
    </div>
</div>



<script >
  


    //function Add_customer() {
     
     
    //    var name = $("#HoVaTen").val();
    //    var email = $("#Email").val();
    //    var sdt = $("#SDT").val();
    //    var diachi = $("#DiaChi").val();
    //    var ngaysinh = $("#NgaySinh").val();
    //    var pass = $("#password").val();
    //    alert(name)
    //    $.ajax({
    //        type: "POST",
    //        url: '/Customer/Add',
    //        data: {
    //            ID_KhachHang : "null1"
    //            HoVaTen: name,
    //            Email: email,
    //            SDT: sdt,
    //            DiaChi: diachi,
    //            NgaySinh: ngaysinh,
    //            MatKhau: pass,
    //            DiemTichLuy :0
               
    //        },
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function(res) {
    //            alert(res.HoVaTen)
    //        }
      
    //    });
    //}
</script>