@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


    var lstvoucherCT0 = ViewBag.lstvoucherCT0;
    var lstvoucherCT1 = ViewBag.lstvoucherCT1;
    var lstvoucherCT2 = ViewBag.lstvoucherCT2;
    var soluongKhachHang = ViewBag.SoluongKhachHang;
    var hinhthuc = ViewBag.Hinhthuc;
    var lstkhachhang = ViewBag.lstItemKhachhang;
}
@using WebNewBook.ViewModel
@model VoucherModel


<style>
    .loading {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .spinner-center {
        top: 50%;
        left: 50%;
        position: absolute;
    }
</style>



<div>
    <div id="load" style="display : block" class="loading">
        <div class="spinner-border text-primary spinner-center" role="status"></div>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-add-tab"
                    data-bs-toggle="tab" data-bs-target="#nav-add"
                    type="button" role="tab" aria-controls="nav-add"
                    aria-selected="true">
                Thêm Voucher
            </button>
            <button class="nav-link" id="nav-list-tab"
                    data-bs-toggle="tab" data-bs-target="#nav-list"
                    type="button" role="tab" aria-controls="nav-list"
                    aria-selected="false">
                Danh sách Voucher
            </button>
            <button class="nav-link" id="nav-history-tab"
                    data-bs-toggle="tab" data-bs-target="#nav-history"
                    type="button" role="tab" aria-controls="nav-history"
                    aria-selected="false">
                Lịch sử Voucher
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav">
        <div class="tab-pane fade show active my-3" id="nav-add"
             role="tabpanel" aria-labelledby="nav-add-tab">
            <div class="row my-3 ">
                <button type="button" style="font-size: 13px;" class="btn btn-success col-2 mx-1" data-bs-toggle="modal" data-bs-target="#voucher">
                    <i class="fa-solid fa-plus"></i> Voucher
                </button>
                <div class="modal fade" id="voucher" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm voucher</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form asp-action="Create">
                                <input asp-for="Voucher.Id" type="hidden" />
                                <input asp-for="Voucher.EndDate" type="hidden" />
                                <div class="modal-body">
                                    <div class="mb-3 row">
                                        <label for="" class="col-sm-3 col-form-label">Mã voucher</label>
                                        <div class="col-sm-9">
                                            <input asp-for="voucherCT.NgayHetHan  " type="hidden" value="@Model.Voucher.EndDate" />
                                            <input asp-for="voucherCT.MaVoucher" type="hidden" value="@Model.Voucher.Id" />
                                            <input asp-for="voucherCT.Id" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" id="Add1Voucher" class="btn btn-primary">Thêm Voucher</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <button style="font-size: 13px;" class="btn btn-success col-3 mx-1" data-bs-toggle="modal" data-bs-target="#List_voucher">
                    <i class="fa-solid fa-plus"></i> Danh sách voucher
                </button>
                <!-- Modal -->
                <div class="modal fade" id="List_voucher" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm danh sách voucher</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form asp-action="CreateListvoucher">
                                <input name="maVoucher" id="maVoucher" type="hidden" value="@Model.Voucher.Id" />
                                <div class="modal-body">
                                    <div class="form-floating mb-3">
                                        <input name="sizeVoucher" type="number" class="form-control" id="sizeVoucher" placeholder="Độ dài mã voucher">
                                        <label for="sizeVoucher">Độ dài mã voucher</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input name="startTextVoucher" type="text" class="form-control" id="startTextVoucher" placeholder="Kí tự bắt đầu">
                                        <label for="startTextVoucher">Kí tự bắt đầu</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input name="endTextVoucher" type="text" class="form-control" id="endTextVoucher" placeholder="Kí tự kết thúc">
                                        <label for="endTextVoucher">Kí tự kết thúc</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input name="quantityVoucher" type="number" class="form-control" id="quantityVoucher" placeholder="Số lượng voucher">
                                        <label for="quantityVoucher">Số lượng voucher</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" id="AddListVoucher" class="btn btn-primary">Thêm</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>



                <button style="font-size: 13px;" class="btn btn-success col-2 mx-1" data-bs-toggle="modal" data-bs-target="#import_ex">
                    <i class="fa-solid fa-folder-open"></i> import
                </button>
                <!-- Modal -->
                <div class="modal fade" id="import_ex" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Nhập Voucher từ file dữ liệu</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <p> Tải file mẫu về (<a asp-controller="Voucher" asp-action="dowloadFilemau">Excer file </a>)</p>
                            <form asp-action="CreateImPortExcel" method="post" enctype="multipart/form-data">
                                <div class="modal-body">

                                    <input type="file" name="file" />
                                    <input name="maPhathanh" type="hidden" value="@Model.Voucher.Id" />
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary"> Import </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>



                <ul id="thaotac" style="display : none" class="navbar-nav ml-auto col-3">
                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">Thao tác</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow "
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Thao tác
                            </h6>
                            <a id="SoluongPhatHanh" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#phathanh">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    Phát hành Voucher
                                </div>
                            </a>


                            <a id="btnHuyVoucher" class="dropdown-item d-flex align-items-center">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <input type="hidden" value="OK" name="NamOK" />
                                <div>
                                    Hủy Voucher
                                </div>
                            </a>

                        </div>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                </ul>


                <!-- Modal phát hành -->
                <div class="modal fade" id="phathanh" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="phathanh" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="phathanh">Phát hành</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mb-3 row">
                                    <label for="" class="col-sm-4 col-form-label">Số lượng Voucher</label>
                                    <div class="col-sm-8">
                                        <input type="number" value="@soluongKhachHang" id="soluongKhachHang" hidden />
                                        <input type="number" id="SoluongVoucher" class="form-control" disabled>

                                    </div>
                                </div>
                                @if (hinhthuc == 2)
                                {
                                    <div class="form-check">
                                        <input onclick="ChonHinhThuc()" class="form-check-input" type="radio" name="flexRadioDefault" id="toanbokh">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Toàn bộ khách hàng
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input onclick="ChonHinhThuc()" class="form-check-input" type="radio" name="flexRadioDefault" id="chonkh" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Chọn khách hàng
                                        </label>
                                    </div>
                                    @if (lstkhachhang != null)
                                    {
                                        <div id="Div_kh" class="form-group">
                                           

                                      
                                            <select id="KhachHangs" class="form-select"  aria-label="Default select example">
                                                <option value="" selected>Chọn khách hàng</option>
                                                @foreach (var x in lstkhachhang)
                                                {
                                                     <option value="@x.Value">@x.Text</option>
                                                }
                                            </select>

                                        </div>
                                    }
                                }
                                <div class="mb-3 row">
                                    <label for="" class="col-sm-4 col-form-label">Ngày Phát hành</label>
                                    <div class="col-sm-8">
                                        <input id="ngayphathanh" type="date" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="btnDong" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <button id="btnPhatHanh" type="button" class="btn btn-primary">Phát Hành</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <table class="table table-striped  table-hover">
                <thead>
                    <tr>
                        @if (hinhthuc == 2)
                        {
                            <th>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="click_all">
                                </div>
                            </th>
                        }
                        else
                        {
                            <th>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="click_all" disabled>
                                </div>
                            </th>
                        }

                        <th>Mã Voucher</th>
                        <th>Người sử dụng</th>
                        <th>Ngày phát hành</th>
                        <th>Ngày hết hạn</th>
                        <th>Ngày sử dụng</th>
                        <th>Điểm đổi</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in lstvoucherCT0)
                    {
                        <tr id="timCkeckBox">
                            @if (hinhthuc == 2)
                            {
                                <td id="ListItem">

                                    <div class="form-check">
                                        <input onclick="showThaotac()" class="form-check-input" type="checkbox" id="@x.Id" value="" name="NameOK">
                                    </div>


                                </td>
                            }
                            else
                            {
                                <td id="ListItem">

                                    <div class="form-check">
                                        <input onclick="showThaotac()" class="form-check-input" type="checkbox" id="@x.Id" value="" name="NameOK" disabled>
                                    </div>


                                </td>
                            }

                            <td>@x.Id</td>
                            <td></td>
                            @if (x.NgayBatDau != null)
                            {
                                <td>@x.NgayBatDau.ToString("d/M/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (x.NgayHetHan != null)
                            {
                                <td>@x.NgayHetHan.ToString("d/M/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            @if (x.NgaySuDung != null)
                            {
                                <td>@x.NgaySuDung.ToString("d/M/yyyy")</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            <td>@x.Diemdoi</td>
                            @if (@x.TrangThai == 0)
                            {
                                <td class="text-warning fs-6 fst-italic">Chưa Phát hành</td>
                            }
                            else
                            {
                                <td class="text-success fs-6 fst-italic">Đã Phát hành</td>
                            }
                        </tr>
                    }



                </tbody>
            </table>
        </div>
        <div class="tab-pane fade  active" id="nav-list" role="tabpanel"
             aria-labelledby="nav-list-tab">

            <div style="padding: 30px;">
                <form action="" class="row">
                    <div class="col-5 mb-3">
                        <input type="text" class="form-control"
                               placeholder="Tìm kiếm mã voucher">
                    </div>
                    <div class="col-5 mb-3">
                        <select class="form-select"
                                aria-label="Default select example">
                            <option selected>Tất cả</option>
                            <option value="1">Đã phát hành</option>
                            <option value="0">Chưa phát hành</option>
                            <option value="2">Đã Sửa dụng</option>
                            <option value="3">Chưa sử dụng</option>

                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-secondary">
                            Tìm
                            kiếm
                        </button>
                    </div>
                </form>
                <table class="table table-striped  table-hover">
                    <thead>
                        <tr>
                            <th>Mã Voucher</th>
                            <th>Người sử dụng</th>
                            <th>Ngày phát hành</th>
                            <th>Ngày hết hạn</th>
                            <th>Ngày sử dụng</th>
                            <th>Điểm đổi</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in lstvoucherCT1)
                        {
                            <tr>

                                <td>@x.Id</td>
                                @if (x.MaKhachHang != null)
                                {
                                    <td>@x.MaKhachHang</td>
                                }
                                else
                                {

                                    <td></td>
                                }

                                @if (x.NgayBatDau != null)
                                {
                                    <td>@x.NgayBatDau.ToString("d/M/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (x.NgayHetHan != null)
                                {
                                    <td>@x.NgayHetHan.ToString("d/M/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }

                                @if (x.NgaySuDung != null)
                                {
                                    <td>@x.NgaySuDung.ToString("d/M/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@x.Diemdoi</td>
                                @*    <td>@(x.TrangThai==0?"Chưa phát Hành": "Đã phát hành")</td>*@
                                @if (@x.TrangThai == 0)
                                {
                                    <td class="text-warning fs-6 fst-italic">Chưa Phát hành</td>
                                }
                                @if (x.TrangThai == 1)
                                {
                                    <td class="text-primary fs-6 fst-italic">Đã Phát hành</td>
                                }
                                @if (x.TrangThai == 2)
                                {
                                    <td class="text-success fs-6 fst-italic">Đã Sử dụng</td>
                                }
                                @if (x.TrangThai == 3)
                                {
                                    <td class="text-danger fs-6 fst-italic">Đã Hủy</td>
                                }
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade  active " id="nav-history" role="tabpanel"
             aria-labelledby="nav-history-tab">
            <table class="table table-striped  table-hover">
                <thead>
                    <tr>
                        <th>Mã Voucher</th>
                        <th>Người sử dụng</th>
                        <th>Ngày phát hành</th>
                        <th>Ngày hết hạn</th>
                        <th>Ngày sử dụng</th>
                        <th>Điểm đổi</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstvoucherCT2 != null)
                    {
                        @foreach (var x in lstvoucherCT2)
                        {
                            <tr>

                                <td>@x.Id</td>
                                @if (x.MaKhachHang!=null)
                                {
                                     <td>@x.MaKhachHang</td>
                                }
                                else
                                {
                                     <td></td>
                                }
                               
                                @if (x.NgayBatDau != null)
                                {
                                    <td>@x.NgayBatDau.ToString("d/M/yyyy")</td>
                                }
                                else
                                {
                                   <td></td>
                                }
                                @if (x.NgayHetHan != null)
                                {
                                    <td>@x.NgayHetHan.ToString("d/M/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }

                                @if (x.NgaySuDung != null)
                                {
                                    <td>@x.NgaySuDung.ToString("d/M/yyyy")</td>
                                }
                                else
                                {
                                    <td></td>
                                }

                                <td>@x.Diemdoi</td>
                                @*    <td>@(x.TrangThai==0?"Chưa phát Hành": "Đã phát hành")</td>*@
                                @if (@x.TrangThai == 0)
                                {
                                    <td class="text-warning fs-6 fst-italic">Chưa Phát hành</td>
                                }
                                @if (x.TrangThai == 1)
                                {
                                    <td class="text-primary fs-6 fst-italic">Đã Phát hành</td>
                                }
                                @if (x.TrangThai == 2)
                                {
                                    <td class="text-success fs-6 fst-italic">Đã Sử dụng</td>
                                }
                                @if (x.TrangThai == 3)
                                {
                                    <td class="text-danger fs-6 fst-italic">Đã Hủy</td>
                                }
                                <td><a asp-action="DetailOrder" asp-route-Id="@x.Id">Chi tiết</a></td>
                            </tr>
                        }
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@section Scripts{
    <script>

        function showThaotac() {

            var chon = document.getElementsByName("NameOK");
            for (var i = 0; i < chon.length; i++) {
                document.getElementById("thaotac").style.display = 'none';
                if (chon[i].checked == true) {

                    document.getElementById("thaotac").style.display = 'block';
                    break;
                }
            }
        }


        document.getElementById("click_all").onclick = function () {


            var chon = document.getElementById("click_all");

            if (chon.checked == true) {

                document.getElementById("thaotac").style.display = 'block';

                var checkboxes = document.getElementsByName('NameOK');


                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;

                }
            } if (chon.checked == false) {

                document.getElementById("thaotac").style.display = 'none';

                var checkboxes = document.getElementsByName('NameOK');


                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;

                }
            }
        }

        var allkh = document.getElementById("toanbokh")
        var chonkh = document.getElementById("chonkh")

        function ChonHinhThuc() {


            if (allkh.checked == true) {
                document.getElementById("Div_kh").hidden = true
            }
            if (chonkh.checked == true) {
                document.getElementById("Div_kh").hidden = false

            }
        }

        $(function () {
            document.getElementById("load").style.display = 'none';
            var arrItem = [];
            var commaSeparatedIds = "";
            var soluong = 0;
            //   $("#KhachHangs").chosen();
            document.getElementById("SoluongPhatHanh").onclick = function () {
                var checkboxes = document.getElementsByName('NameOK');


                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked == true) {
                        soluong++;
                    }
                }

                document.getElementById("SoluongVoucher").value = soluong
                var soluongkH = document.getElementById("soluongKhachHang").value
                var soluongcantaothem = soluongkH - soluong;

                //if (soluongkH > soluong) {
                //   alert("Bạn Cần tạo thêm "+ soluongcantaothem + " Voucher mới có thể phát hành !" )
                //}
            }


            // phát hành voucher
            $("#btnPhatHanh").click(function () {
                $("#timCkeckBox #ListItem input[type=checkbox]").each(function (index, val) {

                    var checkId = $(val).attr("Id");
                    var Ischeked = $("#" + checkId).is(":checked", true)
                    if (Ischeked) {
                        arrItem.push(checkId);
                    }

                });
                commaSeparatedIds = arrItem.toString();
                arrItem = [];
                var chonkh_ckeck = document.getElementById("chonkh")


                var ngayPhatHanh = $("#ngayphathanh").val()
                var idkhahang = $("#KhachHangs").val()
                if (chonkh_ckeck.checked == true ? (idkhahang != "" ? true : false) : true) {
                    if (ngayPhatHanh != "") {

                        document.getElementById("SoluongVoucher").value = soluong
                        var soluongkH = document.getElementById("soluongKhachHang").value
                        var soluongcantaothem = soluongkH - soluong;
                        $.ajax({
                            type: "POST",
                            data:
                            {
                                GetId: commaSeparatedIds,
                                NgayBatDau: ngayPhatHanh,
                                MaKhachHang: idkhahang
                            },
                            url: "/Voucher/PhatHanhVoucher",
                            success: function (response) {
                                if (response == 1) {

                                    Swal.fire({
                                        text: "Phát hành Thành công !",
                                        timer: 1500,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,

                                        height: 50,
                                        color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })

                                    setTimeout(function () {
                                        document.getElementById("load").style.display = 'block';
                                        window.location.reload(1);


                                    }, 2000);

                                } if (response == 0) {
                                    Swal.fire({
                                        text: "Phát hành thất bại !",
                                        timer: 1500,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,

                                        height: 50,
                                        color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })
                                }
                                if (response == 2) {
                                    Swal.fire({
                                        text: "Ngày phát hành không được bé hơn ngày bắt đầu của đợt phát hành !",
                                        timer: 2000,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,

                                        height: 50,
                                        color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })
                                }
                                if (response == 4) {
                                    alert("Bạn cần thêm " + soluongcantaothem + " mã voucher")
                                }
                                if (response == 3) {
                                    Swal.fire({
                                        text: "Ngày phát hành không được lớn hơn ngày kết thúc của đợt phát hành !",
                                        timer: 2000,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,
                                        height: 50,
                                        color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })
                                }
                            }
                        });
                    } else {
                        alert("Yêu cầu chọn ngày")
                    }

                } else {
                    alert("Yêu cầu bạn chọn khách hàng")
                }

            });
            // Thêm 1 voucher
            $("#Add1Voucher").click(function () {
                var id = $("#voucherCT_Id").val();
                var maVoucher = $("#voucherCT_MaVoucher").val();
                var ngayHethan = $("#voucherCT_NgayHetHan").val();
                console.log(ngayHethan)
                if (id != "") {
                    if (id.length > 5) {
                        $.ajax({
                            type: "POST",
                            data:
                            {
                                Id: id,
                                MaVoucher: maVoucher,
                                NgayHetHan: ngayHethan
                            },
                            url: "/Voucher/Create",
                            success: function (response) {
                                if (response == 1) {
                                    Swal.fire({
                                        text: "Thêm Thành công !",
                                        timer: 1500,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,

                                        height: 50,
                                        Color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })

                                    setTimeout(function () {

                                        window.location.reload(1);
                                        document.getElementById("load").style.display = 'block';

                                    }, 3000);

                                }
                                if (response == 2) {
                                    Swal.fire({
                                        text: "Mã Voucher đã bị trùng !",
                                        timer: 1500,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,

                                        height: 50,
                                        color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })
                                }
                                if (response == 0) {
                                    Swal.fire({
                                        text: "Thêm thất bại !",
                                        timer: 1500,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,

                                        height: 50,
                                        color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })
                                }

                            }
                        });
                    } else {
                        alert("Mã Voucher Phải lớn hơn hoặc bằng 6 kí tự")
                    }

                } else {
                    alert("Không được để trống")
                }

            });

            // Thêm nhiều voucher
            $("#AddListVoucher").click(function () {
                var size = $("#sizeVoucher").val();
                var ktstart = $("#startTextVoucher").val();
                var ktend = $("#endTextVoucher").val();
                var quantity = $("#quantityVoucher").val();
                var mavoucher = $("#maVoucher").val();

                if (size != "" && ktstart != "" && ktend != "" && quantity != "") {
                    if (size > 5) {
                        if (quantity > 0) {
                            $.ajax({
                                type: "POST",
                                data:
                                {
                                    sizeVoucher: size,
                                    startTextVoucher: ktstart,
                                    endTextVoucher: ktend,
                                    quantityVoucher: quantity,
                                    maVoucher: mavoucher
                                },
                                url: "/Voucher/CreateListvoucher",
                                success: function (response) {
                                    if (response == 1) {
                                        Swal.fire({
                                            text: "Thêm Thành công !",
                                            timer: 1500,
                                            timerProgressBar: true,
                                            showConfirmButton: false,
                                            position: 'bottom-end',
                                            width: 300,

                                            height: 50,
                                            Color: '#66a15a',
                                            background: '#ffffff',

                                        }).then((result) => {
                                            /* Read more about handling dismissals below */
                                            if (result.dismiss === Swal.DismissReason.timer) {
                                                console.log('I was closed by the timer')
                                            }
                                        })

                                        setTimeout(function () {

                                            window.location.reload(1);
                                            document.getElementById("load").style.display = 'block';

                                        }, 3000);

                                    }

                                    if (response == 0) {
                                        Swal.fire({
                                            text: "Thêm thất bại !",
                                            timer: 1500,
                                            timerProgressBar: true,
                                            showConfirmButton: false,
                                            position: 'bottom-end',
                                            width: 300,

                                            height: 50,
                                            color: '#66a15a',
                                            background: '#ffffff',

                                        }).then((result) => {
                                            /* Read more about handling dismissals below */
                                            if (result.dismiss === Swal.DismissReason.timer) {
                                                console.log('I was closed by the timer')
                                            }
                                        })
                                    }

                                }
                            });
                        } else {
                            alert("Số lượng voucher phải lớn hơn 0")
                        }

                    } else {
                        alert("Độ dài Voucher phải lớn hơn 5")
                    }

                } else {
                    alert("Không được để trống")
                }

            });



            //Hủy voucher
            $("#btnHuyVoucher").click(function () {
                $("#timCkeckBox #ListItem input[type=checkbox]").each(function (index, val) {

                    var checkId = $(val).attr("Id");
                    var Ischeked = $("#" + checkId).is(":checked", true)
                    if (Ischeked) {
                        arrItem.push(checkId);
                    }

                });
                commaSeparatedIds = arrItem.toString();
                arrItem = [];
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn Hủy Vouccher không?',
                    showCancelButton: true,
                    confirmButtonText: 'Có',

                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            data: { timCkeckBox: commaSeparatedIds },
                            url: "/Voucher/HuyVoucher",
                            success: function (response) {
                                if (response == 1) {
                                    Swal.fire({
                                        text: "Hủy thành công !",
                                        timer: 1500,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,

                                        height: 50,
                                        color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })

                                    setTimeout(function () {

                                        window.location.reload(1);
                                        document.getElementById("load").style.display = 'block';

                                    }, 3000);

                                } else {
                                    Swal.fire({
                                        text: "Hủy thất bại !",
                                        timer: 1500,
                                        timerProgressBar: true,
                                        showConfirmButton: false,
                                        position: 'bottom-end',
                                        width: 300,
                                        height: 50,
                                        color: '#66a15a',
                                        background: '#ffffff',

                                    }).then((result) => {
                                        /* Read more about handling dismissals below */
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            console.log('I was closed by the timer')
                                        }
                                    })
                                }

                            }
                        });
                    }
                })
            });
        });


    </script>
}
