@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var lstvoucher = ViewBag.lstvoucher;

}
@using WebNewBook.Model
@model Voucher
<style>
    td {
        font-size: 13px;
    }
</style>
<div class="container py-3" style="background-color: #f1f1f1;">
    <h3 style="font-weight: 700;">Phát hành voucher</h3>
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <h6>
                <div class="row">
                    <form action="" class="col-8">
                        <div class="col-5 mb-3">
                            <input type="email" class="form-control" placeholder="Mã phát hành,...">
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                        </div>
                    </form>
                    <div class="col-3 offset-1">
                        <!-- Button trigger modal -->
                        <button style="font-size: 12.7px;" type="button" class="btn btn-lg btn-primary px-5"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="fa-solid fa-address-book"></i> Thêm đợt phát hành mới
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                             data-bs-keyboard="false" tabindex="1" aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="staticBackdropLabel">
                                            Thêm đợt phát hành voucher
                                        </h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <input type="hidden" asp-for="Id" value="null" />
                                                <input type="hidden" asp-for="MaNhanVien" value="null" />


                                                <div class="col-6">
                                                    <div class="mb-3 row ">
                                                        <label for="" class="col-sm-4 col-form-label">
                                                            Tên đợt phát hành <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="col-sm-8">
                                                            <input asp-for="TenPhatHanh" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label for="" class="col-sm-4 col-form-label">
                                                            Mệnh giá <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="col-sm-8">
                                                            <input asp-for="MenhGia" type="number" class="form-control">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-6">

                                                    <div class="mb-3 row">
                                                        <label for="" class="col-sm-3 col-form-label">
                                                            Tổng tiền hàng<span class="text-danger">*</span>
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <input asp-for="MenhGiaDieuKien" type="number" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 row">
                                                        <label class="col-sm-3 col-form-label">
                                                            Ghi chú
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <input asp-for="GhiChu" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-7 row">
                                                    <label for="" class="col-3 col-form-label">
                                                        Thời gian <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="offset-2 col-sm-8 mx-3 mb-3 row">
                                                        <div class="col-sm-5">
                                                            <input asp-for="StartDate" type="date" class="form-control">

                                                        </div>
                                                        -
                                                        <div class="col-sm-5">
                                                            <input asp-for="EndDate" type="date" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 row">
                                                    <label for="" class="col-5 col-form-label">
                                                        Hình thức <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-sm-7 mb-3 row">
                                                        <div onclick="ChonHinhThuc()" class="col-sm-5 form-check">
                                                            <input class="form-check-input" type="radio" name="chon"
                                                                   checked id="Tang">
                                                            <label class="form-check-label" for="Tang">
                                                                Tặng
                                                            </label>
                                                        </div>
                                                        <div onclick="ChonHinhThuc()" class="col-sm-5 form-check ">
                                                            <input class="form-check-input" type="radio" name="chon"
                                                                   id="DoiDiem">
                                                            <label class="form-check-label" for="DoiDiem">
                                                                Đổi điểm
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div id="Div_diem" hidden class="col-7">
                                                    <div class="mb-3 row ">
                                                        <label for="" class="col-sm-3 col-form-label">
                                                            Điểm <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="mx-4 col-sm-7">
                                                            <input asp-for="DiemDoi" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                        <button type="button" id="btnAddPhatHanh" class="btn btn-primary">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h6>
        </div>
    </div>
    <br>
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div style="padding-top: 20px;">
            <p>
                <table class="table table-borderless">
                    <thead class="table-secondary ">
                        <tr>
                            <th scope="col">Mã phát hành</th>
                            <th scope="col">Tên phát hành</th>
                            <th scope="col">Từ ngày</th>
                            <th scope="col">Đến ngày</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Mệnh Giá</th>
                            <th scope="col">Trạng thái</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in lstvoucher)
                        {
                            <tr>
                                <td>@x.Id</td>
                                <td>@x.TenPhatHanh</td>
                                <td>@x.StartDate.ToString("d/M/yyyy")</td>
                                <td>@x.EndDate.ToString("d/M/yyyy")</td>
                                <td>@x.SoLuong</td>
                                <td>@x.MenhGia</td>
                                <td>@x.TrangThai</td>
                                <td>
                                    <a asp-action="Detail" asp-route-Id="@x.Id">Chi Tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>

    function ChonHinhThuc() {
        var tang = document.getElementById("Tang")
        var doi = document.getElementById("DoiDiem")

        if (tang.checked == true) {
            document.getElementById("Div_diem").hidden = true
        }
        if (doi.checked == true) {
            document.getElementById("Div_diem").hidden = false

        }
    }

    $(function () {
    
        var tang = document.getElementById("Tang");
        var doiDiem = document.getElementById("DoiDiem");
        $("#btnAddPhatHanh").click(function () {
            var tenPhatHanh = $("#TenPhatHanh").val()
            var menhGia = $("#MenhGia").val()
            var menhGiaDK = $("#MenhGiaDieuKien").val()
            var ghiChu = $("#GhiChu").val()
            var startDate = $("#StartDate").val()
            var enddate = $("#EndDate").val()
            var diemdoi = null
            var hinhthuc = 2;
            var date = new Date();
            var today = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();



            if (doiDiem.checked == true) {
                hinhthuc = 1;
                diemdoi = $("#DiemDoi").val()
            }
            if (ghiChu == "") {
                ghiChu = "(Không có)"
            }

            if (((tenPhatHanh && menhGia && menhGiaDK && startDate && enddate) != "") && (doiDiem.checked == true ? (diemdoi != "" ? true : false) : true)) {
                if (tenPhatHanh.length > 6) {
                    if (menhGia >= 1000 && menhGiaDK >= 1000) {
                        if (menhGia <= 1000000) {
                            if (startDate >= today) {
                                if (startDate <= enddate) {

                                    $.ajax({
                                        type: "POST",
                                        data: {
                                            TenPhatHanh: tenPhatHanh,
                                            MenhGia: menhGia,
                                            Ghichu: ghiChu,
                                            StartDate: startDate,
                                            Enddate: enddate,
                                            DiemDoi: diemdoi,
                                            HinhThuc: hinhthuc
                                        },
                                        url: "/Voucher/Add",
                                        success: function (response) {
                                            if (response == 1) {
                                                Swal.fire({
                                                    text: "Thành công !",
                                                    timer: 1500,
                                                    timerProgressBar: true,
                                                    showConfirmButton: false,
                                                    position: 'bottom-end',
                                                    width: 300,

                                                    height: 50,
                                                    color: '#66a15a',
                                                    background: '#ffffff',

                                                }).then((result) => {
                                                    /* Read more about handling dismissals below */
                                                    if (result.dismiss === Swal.DismissReason.timer) {
                                                        console.log('I was closed by the timer')
                                                    }
                                                })
                                            } else {
                                                Swal.fire({
                                                    text: "Thất bại !",
                                                    timer: 1500,
                                                    timerProgressBar: true,
                                                    showConfirmButton: false,
                                                    position: 'bottom-end',
                                                    width: 300,

                                                    height: 50,
                                                    color: '#66a15a',
                                                    background: '#ffffff',

                                                }).then((result) => {
                                                    /* Read more about handling dismissals below */
                                                    if (result.dismiss === Swal.DismissReason.timer) {
                                                        console.log('I was closed by the timer')
                                                    }
                                                })

                                            }
                                        }
                                    });
                                } else {
                                    alert("Thời san kết thúc không được trước ngày bắt đầu")
                                }
                            } else {
                                alert("Ngày bắt đầu không được trước ngày hôm nay")
                            }

                        } else {
                            alert("Mệnh giá voucher không được vượt quá 1.000.000 đ")
                        }

                    } else {
                        alert("Số tiền phải lớn hơn hoặc bằng 1.000 đ")
                    }

                } else {
                    alert("Tên Phát hành phải trên 6 kí tự")
                }
            } else {
                alert("Không được để trống ô có *")
            }
        });
    });


</script>