@using WebNewBook.Model.APIModels
@using X.PagedList
@using X.PagedList.Mvc.Core
@model SanPhamViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var mess ="";
    var color = "";
    @if (ViewBag.message == "1")
    {
        mess = "Thành công";
        color = "success";
    }
    if (ViewBag.message == "2")
    {
        mess = "Thất bại";
        color = "danger";
    }
}
@section Scripts{
	<script>
      $("#selectNXB").change(function (){
       
          var $form = $(this).closest('form');
            $form.find('button[type=submit]').click();
         
     });
     setTimeout(function(){
			$('#msNXB').fadeOut('slow');
		},1500)
	</script>
	
}

<div class="container " style="background-color: #f1f1f1;">
    
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <h6>
                <div class="row">
                    <form asp-action="Index" class="row">
                    <div class="col-5 mb-3">
                        <input type="text" name="timKiem" class="form-control" placeholder="Mời bạn nhập tên sản phẩm để tìm kiếm">
                    </div>
                      <div class="col-2">
                        <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                    </div>
                    <div class="col-5 mb-3">
                        <select id="selectNXB" name="trangThai" class="form-select" aria-label="Default select example">
                            
                            <option selected disabled>Chọn trạng thái</option>
                            <option value="2">Tất cả</option>
                            <option value="1">Hoạt động</option>
                            <option value="0">Vô hiệu hóa</option>
                          
                        </select>
                    </div>
                  </form>
                    <div class="col-3">
                        <!-- Button trigger modal -->
                        <a type="button" class="btn btn-success"asp-action="Create">
                            <i class="fa-solid fa-plus"></i> Thêm sản phẩm
                        </a>
                    </div>
                </div>
            </h6>
        </div>
    </div>
    <br>
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <p>
                <table class="table">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col"> Loại sản phẩm</th>
                            <th scope="col">Trạng thái</th>
                            <th colspan="2" style="text-align: center ;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(ViewBag.SanPham.Count == 0){<tr><th>Không có sản phẩm</th></tr>}else{
                        @foreach (var item in ViewBag.SanPham)
                        {
                            var trangThai = item.SanPham.TrangThai == 1 ? "Hoạt động" : "Vô hiệu hóa";
                            var img = item.SanPham.HinhAnh ?? string.Empty;
                                var theLoai = item.TheLoaiSP == 1 ? "Sách" : item.TheLoaiSP == 2 ? "Combo sách" : "Lô sách " + item.SoLuongSach + " quyển";
                                <tr>
                                <th scope="row">@item.SanPham.TenSanPham</th>
                                <td>@item.SanPham.SoLuong</td>
                                <td>@item.SanPham.GiaBan</td>
                                <td><img src="~/img/@img" style="width:100px;height:100px"/></td>
                                <td>@theLoai</td>
                                <td>@trangThai</td>
                                <td><a type="button" class="btn border bg-primary" asp-action="Update" asp-route-id="@item.SanPham.ID_SanPham"><i class="fa-solid fa-pen"></i></a></td>
                                <td><button class="btn border bg-danger" data-bs-toggle="modal" data-bs-target="#delete-@item.SanPham.ID_SanPham"><i class="fa-solid fa-trash"></i></button></td>
                            </tr>

                             <!-- Modal Delete-->
                            <form action="/QLSanPham/Delete?id=@item.SanPham.ID_SanPham" method="post" enctype="multipart/form-data">
                                <div class="modal fade" id="delete-@item.SanPham.ID_SanPham" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Đổi trạng thái sản phẩm</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 row">
                                                    <label for="ID_SanPham" class="col-sm-2 col-form-label">ID</label>
                                                    <input for="ID_SanPham" class="form-control" name="ID" value="@item..SanPham.ID_SanPham" disabled/>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="TenSanPham" class="control-label">Tên sản phẩm</label>
                                                    <input for="TenSanPham" class="form-control" name="nhanVien" value="@item..SanPham.TenSanPham" disabled/>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="SoLuong" class="control-label">Số lượng sản phẩm</label>
                                                    <input for="SoLuong" class="form-control" name="giaNhap" value="@item..SanPham.SoLuong" disabled/>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="GiaBan" class="control-label">Giá bán</label>
                                                    <input for="GiaBan" class="form-control" name="soLuongNhap" value="@item..SanPham.GiaBan" disabled/>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="Quyen" class="control-label">Trạng thái</label>
                                                    <input for="Quyen" class="form-control" name="soLuongNhap" value="@trangThai" disabled/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Đổi trạng thái</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                    }
                    </tbody>
                </table>
                @Html.PagedListPager((IPagedList)ViewBag.SanPham, page => Url.Action("Index","QLSanPham",new {timKiem = ViewBag.TimKiem, trangThai =ViewBag.TrangThai, page = page}),new X.PagedList.Web.Common.PagedListRenderOptions{LiElementClasses = new string[] { "page-item" },PageClasses = new string[] { "page-link" }})
            </p>
        </div>
    </div>
</div>


