@using WebNewBook.Model;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model TheLoai;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var mess ="";
    var color = "";
    @if (ViewBag.message == "1")
    {
        mess = "Thành công";
        color = "success";
    }
    if (ViewBag.message == "2")
    {
        mess = "Thất bại";
        color = "danger";
    }
}
@section Scripts{
	<script>
     
      $("#selectTL").change(function (){
       
          var $form = $(this).closest('form');
            $form.find('button[type=submit]').click();
         
     });
        setTimeout(function() {
            $('#msTL').fadeOut('slow');
        }, 1500)
	</script>
	
}
<div class="container py-3" style="background-color: #f1f1f1;">
   
    <div class="container" style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <h6>
                <div>
                    <form asp-action="Index" class="row">
                    <div class="col-5 mb-3">
                        <input type="text" name="timKiem" class="form-control" placeholder="Mời bạn nhập tên thể loại để tìm kiếm">
                    </div>
                      <div class="col-2">
                        <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                    </div>
                    <div class="col-5 mb-3">
                        <select id="selectTL" name="trangThai" class="form-select" aria-label="Default select example">
                            
                            <option selected>Chọn trạng thái</option>
                            <option value="0">Tất cả</option>
                            <option value="1">Hoạt động</option>
                            <option value="2">Vô hiệu hóa</option>
                          
                        </select>
                          
                    </div>
                  </form>
                   
                    <div class="col-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTL">
                            <i class="fa-solid fa-address-book"></i> Thêm thể loại
                        </button>
                    </div>
                </div>
            </h6>
        </div>
    </div>
    <br>
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
                @if (mess != ""){
            <div class="alert alert-@color" id="msTL" role="alert">
                    @mess
            </div>
            }
            <p>
               @if( ViewBag.TL!=null)  {<span>Trang @( ViewBag.TL.PageCount <  ViewBag.TL.PageNumber ? 0 :  ViewBag.TL.PageNumber) / @ViewBag.TL.PageCount</span>}
                <table class="table">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Tên danh mục </th>
                            <th scope="col" >Danh mục</th>
                            <th scope="col" >Trạng thái</th>
                            <th colspan="2" style="text-align: center ;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                          @if(ViewBag.TL.Count == 0){<tr><th>Không có thể loại </th></tr>}else{
                        @foreach (var item in  ViewBag.TL)
                        {
                             var trangThai = item.TrangThai == 1 ? "Hoạt động" : "Vô hiệu hóa";
                        
                            <tr>
                                <td>@item.TenTL</td>  
                                  <td>@item.DanhMucSach.TenDanhMuc</td>
                                <td>                                 
                                       @trangThai              
                                </td>

                                
                               
                                <td><button class="btn border bg-primary" data-bs-toggle="modal" data-bs-target="#delete-@item.ID_TheLoai"><i class="fa-solid fa-pen"></i></button></td>
                                 <td> <form >
                                        @if (item.TrangThai==1)
                                        {
                                            <button type="submit" class="btn border bg-danger" style="color : white ; font-size : 10px" asp-action="RemoveTL"  asp-route-Id="@item.ID_TheLoai">Vô hiệu hóa </button>
                                        }
                                        @if (item.TrangThai == 0)
                                        {
                                            <button type="submit" class="btn border bg-success" style="color : white; font-size : 10px" asp-action="RemoveTL" asp-route-Id="@item.ID_TheLoai">Hoạt động </button>
                                        }
                                      
                                </form>       
                                </td>
                            </tr>

                             <!-- Modal Delete-->
                            <form method="post" asp-action="UpdateTL" enctype="multipart/form-data">
                                <div class="modal fade" id="delete-@item.ID_TheLoai" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Sửa thể loại</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3 row">
                                                    <label  class="col-sm-2 col-form-label">ID</label>
                                                    <input  class="form-control"  value="@item.ID_TheLoai" disabled/>
                                                    <input  class="form-control" asp-for="TrangThai" value="@item.TrangThai" hidden/>
                                                    <input  class="form-control" asp-for="ID_TheLoai" value="@item.ID_TheLoai" hidden/>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label  class="control-label">Tên thể loại</label>
                                                    <input class="form-control" asp-for="TenTL" value="@item.TenTL"/>
                                                </div>   
                                                 <div class="form-group">
                                                    <label class="control-label"> Trong Danh mục</label>
                                                    <select id="dropDownList-example" asp-for="MaDanhMuc" asp-items="@ViewBag.DanhMuc" class="form-control">
                                                        <option>Chọn danh mục</option>
                                                    </select>
                                                </div> 
                                               
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Sửa</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                        }
                        
                    </tbody>
                    
                </table>
                
                    @Html.PagedListPager((IPagedList)ViewBag.TL, page => Url.Action("Index","QLNhaXuatBan",new {timKiem = ViewBag.TimKiem, trangThai =ViewBag.TrangThai, page = page}),new X.PagedList.Web.Common.PagedListRenderOptions{LiElementClasses = new string[] { "page-item" },PageClasses = new string[] { "page-link" }})
               
            </p>
        </div>
    </div>
</div>


     <form class="needs-validation was-validated" onsubmit = "return(validate());">
                    <div class="col-3">
                       
                        <!-- Modal -->
                        <div class="modal fade" id="modalTL" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Thêm thể loại</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input asp-for="@Model.ID_TheLoai" type="hidden" class="form-control">
                                        <input asp-for="@Model.TrangThai" type="hidden" value="1" class="form-control">
                                        <div class="mb-3 row">
                                            <label for="" class="col-sm-2 col-form-label">Tên thể loại</label>
                                            <div class="col-sm-10">
                                                <input asp-for="@Model.TenTL" type="text"  class="form-control" required>

                                            </div>
                                             <div class="mb-3 row">
                                                   <label  class="col-sm-2 col-form-label">Trong danh mục</label>
                                                     <div class="col-sm-10">
                                                     <select  class="form-select" aria-label="Default select example"asp-for="@Model.MaDanhMuc"
                                                            asp-items="@ViewBag.DanhMuc"  class="form-control">
                                                             <option>Chọn danh mục</option>
                                                    </select>
                                                   </div>
                                             </div> 
                                        </div>                                      
                                    </div>
                                    <div class="modal-footer">
                                        <button asp-action="AddTL" type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</form>