@using WebNewBook.API.ModelsAPI;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model ViewHoaDon

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var mess = "";
    var color = "";
    @if (ViewBag.message == "1")
    {
        mess = "Thành công";
        color = "success";
    }
    if (ViewBag.message == "2")
    {
        mess = "Thất bại";
        color = "danger";
    }
}
@section Scripts{
    <script>
        $("#selectHD").change(function () {

            var $form = $(this).closest('form');
            $form.find('button[type=submit]').click();

        });
        setTimeout(function () {
            $('#msHD').fadeOut('slow');
        }, 1500)
    </script>

}


    <div class="container py-3" style="background-color: #f1f1f1;">
        <h3 style="font-weight: 700; text-align:center;">Hóa Đơn</h3>
        <div class="container" style="background-color: rgb(255, 255, 255);">
            <div class="py-3">
                <h6>
                    <div>
                        <form asp-action="Index" class="row">
                            <div class="col-5 mb-3">
                                <input type="text" name="timkiem" class="form-control" placeholder="Mời bạn nhập mã hóa đơn để tìm kiếm">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                            </div>
                         
                            <div class="col-5 mb-3">
                                <select id="selectHD" name="trangThai" class="form-select" aria-label="Default select example">
                                    <option selected>Chọn trạng thái</option>
                                   
                                    <option value="6">Không tồn tại</option>
                                    <option value="1">Đặt hàng</option>
                                    <option value="2">Đã thanh toán</option>
                                   @* <option value="3">Đơn hàng thanh toán thất bại</option>*@
                                    <option value="4">Trả hàng</option>
                                    <option value="5">Thành công</option>
                                    <option value="7">Khách không đăng nhập</option>
                                </select>
                            </div>
                        </form>

                       
                    </div>
                </h6>
            </div>
        </div>
        <br>
        <div class="container" style="background-color: rgb(255, 255, 255);">
            <div class="py-3">
            @if (mess != "")
            {
                <div class="alert alert-@color" id="msHD" role="alert">
                    @mess
                </div>
            }
            <p>
                @if (ViewBag.NXB != null)
                {
                    <span>Trang @(ViewBag.NXB.PageCount < ViewBag.NXB.PageNumber ? 0 : ViewBag.NXB.PageNumber) / @ViewBag.NXB.PageCount</span>
                }
                <table class="table">
                    <thead class="table-secondary">
                        <tr>
                            <th>Mã hóa đơn</th>
                            <th>Tên khách hàng</th>
                          
                           
                            <th>Ngày mua</th>
                            <th>Tổng tiền </th>
                            <th>Trạng Thái</th>
                            <th>Chi Tiết</th>
                            <th>Chức Năng</th>
                           
                           
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.DataHD.Count == 0)
                        {
                            <tr><th>Không có sản phẩm</th></tr>
                        }
                        else
                        {
                            @foreach (var a in ViewBag.DataHD)
                            {
                                var coler = "null";
                                @if (@a.hoaDon.TrangThai == 1 ||@a.hoaDon.TrangThai == 2)
                                {
                                    @*coler = "Green2";*@
                                    coler = "table-info";

                                }
                                <tr>
                                    <td class="@coler">@a.hoaDon.ID_HoaDon</td>
                                    <td class="@coler">@a.KhachHang.HoVaTen</td>
                                    <td class="@coler">@a.hoaDon.NgayMua</td>
                                    <td class="@coler">@a.hoaDon.TongTien</td>

                                    <td class="@coler">
                                        
                                            @if (@a.hoaDon.TrangThai == 6)
                                            {
                                                <p>Không tồn tại</p>
                                            }
                                            else if (@a.hoaDon.TrangThai == 1)
                                            {
                                                <p>Đặt hàng</p>
                                            }
                                            else if (@a.hoaDon.TrangThai == 2)
                                            {
                                                <p>Đã thanh toán</p>
                                            }
                                            @* else if (@a.hoaDon.TrangThai == 3)
                                    {
                                    <h6 >Đơn hàng thanh toán thất bại</h6>
                                    }*@
                                            else if (@a.hoaDon.TrangThai == 4)
                                            {
                                                <p>Trả hàng</p>
                                            }
                                            else if (@a.hoaDon.TrangThai == 5)
                                            {
                                                <p>Thành công </p>
                                            }
                                        
                                      
                                    </td>
                                    <td class="@coler"><a asp-controller="HoaDon" asp-action="ChiTiet" asp-route-id="@a.hoaDon.ID_HoaDon">Chi Tiết</a> </td>
                                    <td class="@coler">
                                        <form asp-controller="HoaDon" asp-action="Sua" method="post">

                                            @* <input name="dd" type="hidden" value=" @item.hoaDon.ID_HoaDon">*@
                                           <div class="editindex">
                                              
                                                <div class="combobox-HD">
                                                    <select class="form-select" name="name" aria-label="Default select example">
                                                        <option value="">Tất cả</option>
                                                        <option value="6">Không tồn tại</option>
                                                        <option value="1">Đặt hàng</option>
                                                        <option value="2">Đã thanh toán</option>
                                                        @*<option value="3">Đơn hàng thanh toán thất bại</option>*@
                                                        <option value="4">Trả hàng</option>
                                                        <option value="5">Thành công</option>

                                                    </select>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary">Lưu </button>

                                                </div>
                                           </div>
                                            <div>
                                                <input name="id" type="hidden" value="@a.hoaDon.ID_HoaDon">

                                            </div>




                                        </form>
                                    </td>

                                   
                                </tr>

                               
                            }
                        }

                    </tbody>

                </table>

                @Html.PagedListPager((IPagedList)ViewBag.DataHD, page => Url.Action("Index","HoaDon",new {timKiem = ViewBag.TimKiem, trangThai =ViewBag.TrangThai, page = page}),new X.PagedList.Web.Common.PagedListRenderOptions{LiElementClasses = new string[] { "page-item" },PageClasses = new string[] { "page-link" }})

            </p>
        </div>
    </div>
</div>


