@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
	int count = 3;
}
@model IEnumerable<WebNewBook.API.ModelsAPI.HomeVM>

<!-- SECTION -->
		<div class="section">
		

			<!-- container -->
			<div class="container">
				
				<h3 class="title">
					Thể loại </h3>
				<!-- row -->
				<div class="row">
					<!-- shop -->
			@if (ViewBag.TheLoai != null)
			@foreach (var item in ViewBag.TheLoai)
			{
				<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="./img/shop01.png">
							</div>
							<div class="shop-body">
								<h3>@item.TenTL<br></h3>
								<a href="#" class="cta-btn">Mua ngay <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
						
			
			}
					<!-- /shop -->
					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
		
					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Sách mới</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Xem tất cả</a></li>
		
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									<!-- tab -->
									<div id="tab1" class="tab-pane fade in active">
											
										<div class="products-slick" data-nav="#slick-nav-1">
											<!-- product -->
											@foreach (var item in Model)
											{		
										
											<div class="product">
												<div class="product-img">
													<img src="./img/product01.png"  alt="">
												</div>
												<div class="product-body">
													<p class="product-category">@item.danhMucSach.TenDanhMuc</p>
													<h3 class="product-name"><a href="#">@item.sanPhams.TenSanPham</a></h3>
													<h4 class="product-price"> @item.sanPhams.GiaBan <del class="product-old-price"> @item.sanPhams.GiaBan</del></h4>
												
													<div class="product-btns">
													
														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
												</div>
											</div>
											}
											
											<!-- product /-->
										</div>
										
										<div id="slick-nav-1" class="products-slick-nav"></div>
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- /Products tab & slick -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
		
					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Sách bán chạy</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Xem tất cả</a></li>
		
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												<div class="product-btns">
												
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												<div class="product-btns">
												
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												<div class="product-btns">
												
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												<div class="product-btns">
												
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												<div class="product-btns">
												
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		@if ( ViewBag.DanhMuc != null)
		@foreach(var itemDM in ViewBag.DanhMuc){
		
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
		
					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">@itemDM.TenDanhMuc</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a @*data-toggle="tab"*@ href="@Url.Action("Product", "Home", new { iddanhmuc = itemDM.ID_DanhMuc})">Xem tất cả</a></li>
		
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->
				
						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									
									<!-- tab -->
									<div id="tab" class="tab-pane fade in active">
									
										<div class="products-slick" data-nav="#slick-nav-@count">
										@foreach (var item in Model.Where(c => c.danhMucSach.ID_DanhMuc == itemDM.ID_DanhMuc))
										{
											<!-- product -->
																									
											<div class="product">
												<div class="product-img">
													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">@item.danhMucSach.TenDanhMuc</p>
													<h3 class="product-name"><a href="#">@item.sanPhams.TenSanPham</a></h3>
													<h4 class="product-price"> @item.sanPhams.GiaBan <del class="product-old-price">@item.sanPhams.GiaBan</del></h4>
												
													<div class="product-btns">
													
														<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
												</div>
											</div>
											
											
											<!-- product /-->
											}
										</div>
										
										
										<div id="slick-nav-@count" class="products-slick-nav"></div>
									
									</div>
									<!-- /tab -->
								
								</div>
							</div>
						</div>
						<!-- /Products tab & slick -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		count++;
		}
		<!-- /SECTION -->
	

		



		<!-- SECTION -->
		@*<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-" class="products-slick-nav"></div>
							</div>
						</div>
		
						<div class="products-widget-slick" data-nav="#slick-nav-">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product08.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product09.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
		
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product01.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product02.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product03.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>
		
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-" class="products-slick-nav"></div>
							</div>
						</div>
		
						<div class="products-widget-slick" data-nav="#slick-nav-">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product04.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product05.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product06.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
		
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product08.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product09.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>
		
					<div class="clearfix visible-sm visible-xs"></div>
		
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							<div class="section-nav">
								<div id="slick-nav-" class="products-slick-nav"></div>
							</div>
						</div>
		
						<div class="products-widget-slick" data-nav="#slick-nav-">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product01.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product02.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product03.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
		
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product04.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product05.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product06.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>
		
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>*@
		<!-- /SECTION -->