@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
	int count = 3;
	
}

@model IEnumerable<WebNewBook.API.ModelsAPI.HomeVM>

	<!-- Carousel Fixed Height -->
	<div class="section carousel-fixed-height">
		<div id="carousel-fixed-height" class="container carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-fixed-height" data-slide-to="0" class=""></li>
				<li data-target="#carousel-fixed-height" data-slide-to="1" class=""></li>
				<li data-target="#carousel-fixed-height" data-slide-to="2" class="active"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item">
					<img src="~/img/nhung-cuon-sach-van-hoc-hay.jpg" style="max-width:1140px;    max-height: 450px;"alt="First slide">
				
				</div>
				<div class="item">
					<img src="~/img/1588654894-784901682-banner-h-i-sach.jpg" style="max-width:1140px;    max-height: 450px;" alt="Second slide" >
					
				</div>
				<div class="item active">
				<img src="~/img/banner-ctst-slide.png" style="max-width:1140px ;    max-height: 450px;"alt="Third slide">
				
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-fixed-height" role="button" data-slide="prev">
			<span class="fa fa-angle-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-fixed-height" role="button" data-slide="next">
			<span class="fa fa-angle-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	



<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>			
				</div>

				<div class="products-widget-slick">
					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product07.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product08.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product09.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>

					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product02.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>
				</div>
			</div>

			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>
				
				</div>

				<div class="products-widget-slick">
					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product05.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product06.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>

					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product07.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product08.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product09.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>
				</div>
			</div>

			<div class="clearfix visible-sm visible-xs"></div>

			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>
					
				</div>

				<div class="products-widget-slick">
					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product02.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product03.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>

					<div>
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product04.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product05.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- /product widget -->
						<!-- product widget -->
						<div class="product-widget">
							<div class="product-img">
								<img src="./img/product06.png" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
							</div>
						</div>
						<!-- product widget -->
					</div>
				</div>
			</div>

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

	<!-- SECTION -->
		
		<!-- /SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
		
					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Sách mới</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Xem tất cả</a></li>
		
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									<!-- tab -->
									<div id="tab1" class="tab-pane fade in active">
										<div class="box-container">

										<div class="products-slick" data-nav="#slick-nav-1">
											<!-- product -->
											@foreach (var item in Model.Distinct())
											{		
										
											<div class="product">
												<div class="product-img">
													<img src="./img/product01.png"  alt="">
												</div>
												<div class="product-body">
													<p class="product-category">@item.danhMucSach.TenDanhMuc</p>
												<h3 class="product-name"><a asp-action="ProductDetaill" asp-route-id="@item.sanPhams.ID_SanPham">@item.sanPhams.TenSanPham</a></h3>
													<h4 class="product-price"> @item.sanPhams.GiaBan.ToString("#,##0").Replace(',', '.') đ<del class="product-old-price"> @item.sanPhams.GiaBan</del></h4>
												
													
												</div>
											
														<div class="add-to-cart">
																

																<button type="button"data-toggle="modal" data-target="#exampleModalCart" class="add-to-cart-btn" value="@item.sanPhams.ID_SanPham"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
															</div>
												
											</div>
											}
											
											<!-- product /-->
										</div>
										
										<div id="slick-nav-1" class="products-slick-nav"></div>
										</div>	
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- /Products tab & slick -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
		
					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Sách bán chạy</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab2">Xem tất cả</a></li>
		
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="box-container">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="./img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
											
												
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
											</div>
										</div>
										<!-- /product -->
									</div>
							</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		@if ( ViewBag.DanhMuc != null)
		@foreach(var itemDM in ViewBag.DanhMuc){
		
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
		
					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">@itemDM.TenDanhMuc</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a @*data-toggle="tab"*@ href="@Url.Action("Product", "Home", new { iddanhmuc = itemDM.ID_DanhMuc})">Xem tất cả</a></li>
		
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->
				
						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									
									<!-- tab -->
									<div id="tab1" class="tab-pane fade in active">
									
										<div class="products-slick" data-nav="#slick-nav-@count">
										@foreach (var item in Model.Where(c => c.danhMucSach.ID_DanhMuc == itemDM.ID_DanhMuc))
										{
											<!-- product -->
																									
											<div class="product">
												<div class="product-img">
													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">@item.danhMucSach.TenDanhMuc</p>
													<h3 class="product-name"><a asp-action="ProductDetaill" asp-route-id="@item.sanPhams.ID_SanPham">@item.sanPhams.TenSanPham</a></h3>
													<h4 class="product-price"> @item.sanPhams.GiaBan.ToString("#,##0").Replace(',', '.')đ <del class="product-old-price">@item.sanPhams.GiaBan</del></h4>
												
													
												</div>
												
															<div class="add-to-cart">
																

																<button type="button" class="add-to-cart-btn" data-toggle="modal" data-target="#exampleModalCart" value="@item.sanPhams.ID_SanPham"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
															</div>
												
											</div>
											
											
											<!-- product /-->
											}
										</div>
										
										
										<div id="slick-nav-@count" class="products-slick-nav"></div>
									
									</div>
									<!-- /tab -->
								
								</div>
							</div>
						</div>
						<!-- /Products tab & slick -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		count++;
		}
		<!-- /SECTION -->
	

		



		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							
						</div>
		
						<div class="products-widget-slick">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product08.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product09.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
		
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product01.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product02.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product03.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>
		
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							
						</div>
		
						<div class="products-widget-slick">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product04.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product05.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product06.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
		
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product07.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product08.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product09.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>
		
					<div class="clearfix visible-sm visible-xs"></div>
		
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Top selling</h4>
							
						</div>
		
						<div class="products-widget-slick">
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product01.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product02.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product03.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
		
							<div>
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product04.png" alt="">tttt t
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product05.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- /product widget -->
								<!-- product widget -->
								<div class="product-widget">
									<div class="product-img">
										<img src="./img/product06.png" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="#">product name goes here</a></h3>
										<h4 class="product-price"> 980.00 <del class="product-old-price"> 990.00</del></h4>
									</div>
								</div>
								<!-- product widget -->
							</div>
						</div>
					</div>
		
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->