@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB -->

		<div id="breadcrumb">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">Book</a></li>
							
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

<!-- SECTION -->
@if (ViewBag.SanphamCT != null)
{
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Product main img -->
				<div class="col-md-5 col-md-push-2">
					<div id="product-main-img">
						<div class="product-preview">
							<img src="~/img/@ViewBag.SanphamCT.sanPhams.HinhAnh" alt="">
						</div>

						<div class="product-preview">
							<img src="~/img/@ViewBag.SanphamCT.sanPhams.HinhAnh" alt="">
						</div>


					</div>
				</div>
				<!-- /Product main img -->
				<!-- Product thumb imgs -->
				<div class="col-md-2  col-md-pull-5">
					<div id="product-imgs">
						<div class="product-preview">
							<img src="~/img/@ViewBag.SanphamCT.sanPhams.HinhAnh" alt="">
						</div>

						<div class="product-preview">
							<img src="~/img/@ViewBag.SanphamCT.sanPhams.HinhAnh" alt="">
						</div>

					</div>
				</div>
				<!-- /Product thumb imgs -->
				<!-- Product details -->
				<div class="col-md-5">
					<div class="product-details">
						<h2 class="product-name">

							@ViewBag.SanphamCT.sanPhams.TenSanPham



						</h2>

						<div>

							<h3 class="product-price">


								@ViewBag.SanphamCT.sanPhams.GiaBan

								<del class="product-old-price"></del>
							</h3>

						</div>


						<ul class="product-links">
							<li>Nhà xuất bản:</li>
							<li><a href="#">Kinh đồng</a></li>
						</ul>
						<ul class="product-links">
							<li>Tác giả:</li>
							@foreach (var item in ViewBag.TacGia)
							{
								<li><a href="#">@item.HoVaTen</a></li>

							}
						</ul>
						<br>
						<form asp-controller="GioHang" asp-action="AddToCartCT" asp-route-id="@ViewBag.SanphamCT.sanPhams.ID_SanPham ">
							<div class="add-to-cart">
								<div class="qty-label">
									Số lượng
									<div class="input-number">
										<input id="getvalue" name="SoLuong" type="number" value="1">

										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button data-toggle="modal" data-target="#exampleModalCart" type="submit" @* onclick="addtocart(${@ViewBag.SanphamCT.sanPhams.ID_SanPham})"*@ class="add-to-cart-btn" @*value="@ViewBag.SanphamCT.sanPhams.ID_SanPham"*@><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
							</div>
						</form>



						<ul class="product-links">
							<li>Thể loại:</li>
							@if (ViewBag.TheLoai != null)
								@foreach (var item in ViewBag.TheLoai)
								{
									<li><a href="#">@item.TenTL</a></li>

								}

						</ul>



					</div>
				</div>
				<!-- /Product details -->
				<!-- Product tab -->
				<div class="col-md-12">
					<div id="product-tab">
						<!-- product tab nav -->
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Mô tả</a></li>
							<li><a data-toggle="tab" href="#tab2">Chi tiết</a></li>

						</ul>
						<!-- /product tab nav -->
						<!-- product tab content -->
						<div class="tab-content">
							<!-- tab1  -->
							<div id="tab1" class="tab-pane fade in active">
								<div class="row">
									<div class="col-md-12">
										<p>

											@ViewBag.SanphamCT.sach.MoTa

										</p>
									</div>
								</div>
							</div>
							<!-- /tab1  -->
							<!-- tab2  -->
							<div id="tab2" class="tab-pane fade in">
								<div class="row">
									<div class="col-md-3">
									</div>
									<div class="col-md-6">




										<table class="table table-hover ">
											<tbody>

												<tr>
													<td>Tên sách :</td>
													<td class="col-2">@ViewBag.SanphamCT.sach.TenSach</td>
												</tr>
												<tr>
													<td>Số trang :</td>
													<td> @ViewBag.SanphamCT.sach.SoTrang</td>
												</tr>
												<tr>
													<td>Tái bản :</td>
													<td> @ViewBag.SanphamCT.sach.TaiBan</td>
												</tr>
												<tr>
													<td>Số lượng : :</td>
													<td>@ViewBag.SanphamCT.sach.SoLuong</td>
												</tr>

											</tbody>
										</table>


									</div>
									<div class="col-md-3">
									</div>
								</div>
							</div>
							<!-- /tab2  -->


						</div>
						<!-- /product tab content  -->
					</div>
				</div>
				<!-- /product tab -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
}
	
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">SẢN PHẨM LIÊN QUAN</h3>
					
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane fade in active">
							<div class="box-container">
								<div class="products-slick" data-nav="#slick-nav-2">
									
											@if (ViewBag.listDM != null)
										@foreach (var a in ViewBag.listDM)
											{

												<!-- product -->
												<div class="product">
													<div class="product-img">
													<img src="~/img/@a.sanPhams.HinhAnh" alt="">
													</div>
													<div class="product-body">
														
																<p class="product-category">

																	@a.danhMucSach.TenDanhMuc


																</p>
															
														<h3 class="product-name"><a asp-action="ProductDetaill" asp-route-id="@a.sanPhams.ID_SanPham"> @a.sanPhams.TenSanPham</a> </h3>
														<h4 class="product-price"> @a.sanPhams.GiaBan <del class="product-old-price"> </del></h4>


													</div>
													<div class="add-to-cart">
														<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
													</div>
												</div>
											}

									
									
								</div>
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- /Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>