@model PaginatedList<WebNewBook.API.ModelsAPI.ProductVM>
@{
	ViewBag.Title = "Product";
	Layout = "~/Views/Shared/_Layout.cshtml";

	////Page///
	string page20 = "";
	string page50 = "";
	if (ViewBag.PageSize != null && ViewBag.PageSize ==20)
	{
		page20 = "warning";
	}else{
		page20 = "default";
	}
	if (ViewBag.PageSize != null && ViewBag.PageSize ==50)
	{
		page50 = "warning";
	}else{
		page50 = "default";
	}
	//////////

	////Price/////
	double priceMax = 0;
	double priceMin = 0;
	if (priceMax == 0 && priceMin == 0)
	{
		priceMax = 999999;
		priceMin = 1000;
	}
	if (ViewBag.PriceMax != 0 || ViewBag.PriceMin != 0)
	{
		priceMax = ViewBag.PriceMax;
		priceMin = ViewBag.PriceMin;
	}



}





@*<!-- BREADCRUMB -->
		<div id="breadcrumb">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">Book</a></li>							
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->*@

<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Danh mục</h3>
							<div class="checkbox-filter">
								@if(ViewBag.DanhMuc != null)
								@foreach (var item in ViewBag.DanhMuc)
								{					
									<div class="input-checkbox">
								
									<label for="category-1">
										<a href="@Url.Action("Product", "Home", new { iddanhmuc = item.ID_DanhMuc})">@item.TenDanhMuc</a>
										
									@*<small>10</small>*@
									</label>
									</div>
								}
								</div>
						
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Giá</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min" >
							<input id="price-min" type="number" value="@priceMin" min="1000" max="99999" data-search="@ViewData["CurrentFilter"]" data-idtheloai="@ViewData["IdTheLoai"]" data-iddanhmuc="@ViewData["IdDanhMuc"]" data-idtacgia="@ViewData["IdTacGia"]" data-sortOrder="@ViewData["CurrentSort"]" data-pageNumber="@ViewData["PageNumber"]" data-pageSize="@ViewBag.PageSize">
									@*<span class="qty-up">+</span>
									<span class="qty-down">-</span>*@
								</div>
								<span>-</span>
							<div class="input-number price-max" >
							<input id="price-max" type="number" value="@priceMax" min="1000" max="99999" data-search="@ViewData["CurrentFilter"]" data-idtheloai="@ViewData["IdTheLoai"]" data-iddanhmuc="@ViewData["IdDanhMuc"]" data-idtacgia="@ViewData["IdTacGia"]" data-sortOrder="@ViewData["CurrentSort"]" data-pageNumber="@ViewData["PageNumber"]" data-pageSize="@ViewBag.PageSize">
									@*<span class="qty-up">+</span>
									<span class="qty-down">-</span>*@
								</div>
							</div>
							
						</div> 
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Thể loại</h3>
							<div class="checkbox-filter">
								@if (ViewBag.TheLoai != null)
							@foreach (var item in ViewBag.TheLoai)
							{


			
								<div class="input-checkbox">
									
									<label for="brand-1">
									<a href="@Url.Action("Product", "Home", new { idtheloai = item.ID_TheLoai})">@item.TenTL</a>

									@*	<small></small>*@
									</label>
								</div>
								}
							</div>
						</div>
						<!-- /aside Widget -->
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Tác giả</h3>
							<div class="checkbox-filter">
							@if (ViewBag.TacGia != null)
							@foreach (var item in ViewBag.TacGia)
							{
							
						
								<div class="input-checkbox">
											
								<label for="brand-6">
										<a href="@Url.Action("Product", "Home", new { idtacgia = item.ID_TacGia})">@item.HoVaTen</a>
												@*<small>(755)</small>*@
								</label>
								</div>
							}
							</div>
						</div>

					@*	<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Sách được mua nhiều nhất</h3>
							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product01.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product02.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product03.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Category</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->*@
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sắp xếp theo:

									<br />
									<br />

							<a class="btn btn-default" href="@Url.Action("Product", "Home", new { sortOrder = "Bán chạy nhất",search = @ViewData["CurrentFilter"] , iddanhmuc = @ViewData["IdDanhMuc"],idtacgia = @ViewData["IdTacGia"] ,idtheloai = @ViewData["IdTheLoai"]})">Bán chạy nhất</a>
							<a class="btn btn-default" href="@Url.Action("Product", "Home", new { sortOrder = "Giá cao nhất",search = @ViewData["CurrentFilter"] , iddanhmuc = @ViewData["IdDanhMuc"],idtacgia = @ViewData["IdTacGia"] ,idtheloai = @ViewData["IdTheLoai"]  })">Giá cao nhất</a>
							<a class="btn btn-default" href="@Url.Action("Product", "Home", new { sortOrder = "Giá thấp nhất",search = @ViewData["CurrentFilter"] , iddanhmuc = @ViewData["IdDanhMuc"] ,idtacgia = @ViewData["IdTacGia"] ,idtheloai = @ViewData["IdTheLoai"] })">Giá thấp nhẩt</a>
							<a class="btn btn-default" href="@Url.Action("Product", "Home", new { sortOrder = "A-Z",search = @ViewData["CurrentFilter"] , iddanhmuc = @ViewData["IdDanhMuc"]  })">A-Z</a>
							<a class="btn btn-default" href="@Url.Action("Product", "Home", new { sortOrder = "Z-A",search = @ViewData["CurrentFilter"] , iddanhmuc = @ViewData["IdDanhMuc"]  })">Z-A</a>
								
								
								</label>

								<label>
									Hiển thị:
							<br />
							<br />
							<a class="btn btn-@page20" href="@Url.Action("Product", "Home", new { pageSize= 20 ,sortOrder = @ViewData["CurrentSort"],search = @ViewData["CurrentFilter"] , iddanhmuc = @ViewData["IdDanhMuc"],idtacgia = @ViewData["IdTacGia"] ,idtheloai = @ViewData["IdTheLoai"]})">20</a>
							<a class="btn btn-@page50" href="@Url.Action("Product", "Home", new { pageSize= 50,sortOrder = @ViewData["CurrentSort"],search = @ViewData["CurrentFilter"] , iddanhmuc = @ViewData["IdDanhMuc"],idtacgia = @ViewData["IdTacGia"] ,idtheloai = @ViewData["IdTheLoai"]  })">50</a>
									@*<select class="input-select">
										<option value="0">20</option>
										<option value="1">50</option>
									</select>*@
							
							

								</label>
							</div>
							<ul class="store-grid">
								Tìm thấy (

								@if (@ViewBag.NumberProduct != null)
								{
									
								@ViewBag.NumberProduct
								}
								
								
								
								) sản phẩm
							</ul>
						</div>
						<!-- /store top filter -->
						<div>
							@if(ViewBag.TextSearch != null){
							<h4> 
								@ViewBag.TextSearch					
							</h4>
							}

							@if (@ViewBag.ProductNull != null)
							{

							<h4>@ViewBag.ProductNull</h4>
								
							
							}
							@if (ViewBag.ProductSS != null)
							{
								@foreach (var item in ViewBag.ProductSS)
								{	
													

								<h4>@item</h4>
								}

							}
							@if (ViewData["CurrentSort"] != null){
							<a href="@Url.Action("Product", "Home", new {sortOrder = ""})" class="btn btn-warning">@ViewData["CurrentSort"] <i class="fa fa-times-circle" aria-hidden="true"></i> </a>
					
							}
						
							
						</div>
						<!-- store products -->
						<div class="row">
							<!-- product -->
							
							@foreach( var item in Model)
							{

							 var giamGia = 100 - item.GiaBan * 100 / item.GiaGoc;

							<div class="col-md-3 col-xs-6">
								<div class="product">
									<div class="product-img">
										 <img src="~/img/@item.HinhAnh" alt="">
										<div class="product-label">
											@if(giamGia != 0){

											<span class="sale">-@giamGia</span>
											}
											@*<span class="new">NEW</span>*@
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">@item.TenDanhMuc</p>
									<h3 class="product-name"><a asp-action="ProductDetaill" asp-route-id="@item.ID_SanPham">@item.TenSanPham</a></h3>
										<h4 class="product-price">@item.GiaBan.ToString("#,##0").Replace(',', '.')đ <del class="product-old-price">@item.GiaBan.ToString("#,##0").Replace(',', '.')đ </del></h4>
									<div class="number-product" style="width:100% !important">Số lượng: @item.SoLuong</div>
										
									</div>
									 @if (item.SoLuong < 1)
                                            {
                                                <div class="add-to-cart">


                                                    <button class="btn btn-warning" type="button"><i class="fa fa-shopping-cart"></i> Sản phẩm tạm hết hàng</button>

                                                </div>
                                            }
                                            else
                                            {
                                                <div class="add-to-cart">


                                                    <button class="add-to-cart-btn" type="button" data-toggle="modal" data-target="#exampleModalCart" value="@item.ID_SanPham"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>

                                                </div>
                                            }
								
									
								</div>
							</div>
							<!-- /product -->
							<div class="clearfix visible-sm visible-xs"></div>
							}

							
						</div>
						<!-- /store products -->
				@{
					var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
					var nextDisabled = !Model.HasNextPage ? "disabled" : "";
					
				}
				
				
				
						<!-- store bottom filter -->
						<div class="store-filter clearfix">
					<span class="store-qty">
						Hiển thị @if (@ViewBag.PageSize != null)
						{
							@ViewBag.PageSize
						} sản phẩm</span>
							<ul class="store-pagination">
								@if(Model.HasPreviousPage){
								<li>
										
									<a asp-action="Product"
									   asp-route-currentFilter="@ViewData["CurrentFilter"]"
									   asp-route-pageNumber="@(Model.PageIndex - 1)"
									   asp-route-iddanhmuc="@ViewData["IdDanhMuc"]"
									   asp-route-idtacgia="@ViewData["IdTacGia"]"
									   asp-route-idtheloai="@ViewData["IdTheLoai"]"
										asp-route-sortOrder="@ViewData["CurrentSort"]"
									   class="@prevDisabled">
									<i class="fa fa-chevron-left"></i>
									</a>
								</li>
								}
						@for (var pagex = 1;pagex <= Model.TotalPages; pagex++)
						{

							<li class=" @(@pagex == Model.PageIndex ?"active":"")">
								@if (pagex != Model.PageIndex)
								{
									<a asp-action="Product"
									   asp-route-currentFilter="@ViewData["CurrentFilter"]"
									  asp-route-pageNumber="@pagex"
									   asp-route-iddanhmuc="@ViewData["IdDanhMuc"]"
							   asp-route-idtacgia="@ViewData["IdTacGia"]"
							   asp-route-idtheloai="@ViewData["IdTheLoai"]"
									asp-route-sortOrder="@ViewData["CurrentSort"]"
									>



								@pagex 
										
									</a>
								}else{
									<a>@pagex</a>
								}

								
							</li>
							
						}
								@if(Model.HasNextPage){
								<li>
							
									<a asp-action="Product"
									   asp-route-currentFilter="@ViewData["CurrentFilter"]"
									   asp-route-pageNumber="@(Model.PageIndex + 1)"
									   asp-route-idtacgia="@ViewData["IdTacGia"]"
									   asp-route-idtheloai="@ViewData["IdTheLoai"]"
									   asp-route-iddanhmuc="@ViewData["IdDanhMuc"]"
									 asp-route-sortOrder="@ViewData["CurrentSort"]"
									   class="@nextDisabled">
									<i class="fa fa-chevron-right"></i>
									</a>
								</li>
								}
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		