@using WebNewBook.Model
@model HoaDon
@{
	double ship = 18000;
	ViewBag.TongTien = ViewBag.TongTien + ship;
	ViewBag.Title = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";

if (true)
	{
		
	}
	
}

<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">Book</a></li>
							
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				@if (ViewBag.MessageVNPay != null && ViewBag.MessageVNPay != "")
				{
					<div class="alert alert-danger" role="alert">
						@ViewBag.MessageVNPay
					</div>
				}



				<!-- row -->

		<form asp-action="Pay" asp-controller="Payment" method="post" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Địa chỉ giao hàng</h3>
							</div>
							
							<div class="form-group">
								<input asp-for="TenNguoiNhan" class="input" type="text" name="TenNguoiNhan" id="TenNguoiNhan" placeholder="Họ và tên">
							<span asp-validation-for="TenNguoiNhan" class="text-danger"></span>
							</div>							
							<div class="form-group">
							<input asp-for="Email" class="input" type="email"  name="email" placeholder="Email">
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input asp-for="DiaChiGiaoHang" class="input" type="text" name="DiaChiGiaoHang" placeholder="Địa chỉ">
								<span asp-validation-for="DiaChiGiaoHang" class="text-danger"></span>
							</div>
						
							<div class="form-group">
							<input asp-for="SDT" class="input" type="tel"  name="SDT" placeholder="Điện thoại">
							<span asp-validation-for="SDT" class="text-danger"></span>
							</div>
							<div class="form-group">
								<div class="input-checkbox">
									<input type="checkbox" id="create-account">
									<label for="create-account">
										<span></span>
										Bạn có mã ưu đãi? Ấn vào đây để nhập mã
									</label>
									<div class="caption">
										<p>Nếu bạn có mã giảm giá, vui lòng điền vào phía bên dưới.</p>
										<input class="input" type="text" name="voucher" placeholder="voucher">
										<hr>
										<div>
											<button type="button" class="btn btn-primary">Áp dụng</button>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<!-- /Billing Details -->

						

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" asp-for="GhiChu" placeholder="Ghi chú về đơn hàng, ví dụ: thời gian hay địa chỉ giao hàng chi tiết hơn"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Đơn hàng của bạn</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>Sản phẩm</strong></div>
								<div><strong>Tổng tiền</strong></div>
							</div>
							@foreach (var item in ViewBag.Cart)
								{
							<div class="order-products">
								<div class="order-col">
								

								<div><span class="qty text-waring">@item.Soluong X</span>  @item.Tensp</div>
								<div>@item.ThanhTien.ToString("#,##0").Replace(',', '.') đ</div>
								
								</div>
							
							</div>
							}
							<div class="order-col">
								<div>Phí vận chuyển </div>
						<div><strong>@ship.ToString("#,##0").Replace(',', '.') đ </strong></div>
							</div>
							<div class="order-col">
								<div><strong>Tổng tiền</strong></div>

								<div>
									<strong class="order-total">
										@if (ViewBag.TongTien != null)
										{
										@ViewBag.TongTien.ToString("#,##0").Replace(',', '.')


								}đ
									</strong>
								</div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" value="1" id="payment-1">
								<label for="payment-1">
									<span></span>
									Trả tiền mặt khi nhận hàng
								</label>
								<div class="caption">
									<p>Anh/chị nhận hàng → Kiểm tra đơn hàng → Tiến hành thanh toán cho nhân viên giao hàng</p>
								</div>
							</div>	
							<div class="input-radio">
								<input type="radio" name="payment" value="2" id="payment-2">
								<label for="payment-2">
									<span></span>
									Thanh toán ví điện tử VN Pay
								</label>
								<div class="caption">
									<p><img src="https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg" width="120px" alt=""></p>
									<p>Thông tin tài khoản ngân hàng sẽ hiển thị sau khi bạn chọn Đặt Hàng.</p>
								</div>




							</div>
						</div>
							<input  asp-for="TongTien" class="input"hidden value="@ViewBag.TongTien" name="TongTien">
					<button type="submit" onclick="myFunction()" class="primary-btn order-submit">Đặt hàng</button>

					</div>



					  </form>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
