@model List<CartItem>
@{

    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    
    var mess = "";
    var color = "";
    @if (ViewBag.MessUpdateCart == "1")
    {
        mess = "Số lượng không được quá 100";
        color = "danger";
    }
     if (ViewBag.MessUpdateCart == "3")
    {
        mess = "Sửa số lượng thàng công";
        color = "success";
    }
    if (ViewBag.MessUpdateCart == "2")
    {
        mess = "Số lượng không có sẵn";
        color = "danger";
    }
}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Book</a></li>

                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="section">

    <div class="container">
        @if (ViewBag.giohang == null || ViewBag.giohang.Count == 0)
        {   @if(ViewBag.MessUpdateCart != null && mess != null)
              {<div class="alert alert-@color" role="alert">
                        @mess
            </div>
                 }
            <h3 class="text-info text-center">
                Giỏ hàng của bạn rỗng!
            </h3>
        }else{
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            
                <h3 class="text-black">Giỏ hàng của bạn</h3>
                <br />
                @if(ViewBag.MessUpdateCart != null && mess != null)
              {<div class="alert alert-@color" role="alert">
                        @mess
            </div>
                 }
                <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Thành tiền</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var i in ViewBag.giohang)
                    {
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/img/@i.hinhanh" style="width: 72px; height: 72px;"> </a>
                            <div  class="media-body">
                                <h4  class="media-heading"><a  href="#">@i.Tensp</a></h4>
                               
                               
                            </div>
                        </div></td>
                        <td class="col-sm-2 col-md-4  text-center" >
                                
                                    <form  asp-action="SuaSoLuong" asp-route-id="@i.Maasp">
                                    <a class="btn" href="@Url.Action("SuaSoLuong",new{id = i.Maasp ,update = "2"})"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                    <input id="numberCart" type="number"min="1" step="1" name="soluongmoi" max="100" value="@i.Soluong" />
                                     
                                    <a href="@Url.Action("SuaSoLuong",new{id = i.Maasp ,update = "1"})"><i class="fa fa-plus" aria-hidden="true"></i></a>

                                      <button type="submit" class="btn btn-primary btn-sm" > Cập nhật </button>
                                      
                                     </form>
                                
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>@i.DonGia.ToString("#,##0").Replace(',', '.') đ</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>@i.ThanhTien.ToString("#,##0").Replace(',', '.') đ</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <a asp-action="XoaKhoiGio" asp-route-id= "@i.Maasp" class="btn btn-danger">
                            <span class="fa fa-trash"></span> Xóa
                        </a></td>
                    </tr>
                  }
                    
                   
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h4>Tổng tiền</h4></td>
                        <td class="text-right"><h4><strong>@if (ViewBag.thanhtien != null)
                                @ViewBag.thanhtien.ToString("#,##0").Replace(',', '.') đ  </strong></h4></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="fa fa-arrow-left"></span> Tiếp tục mua hàng
                        </button></td>
                        <td>
                        <a type="button" asp-controller="Payment" asp-action="Checkout" class="btn btn-success">
                            Thanh Toán <span class="fa fa-arrow-right"></span>
                        </a></td>
                             
                    </tr>
                </tbody>
            </table>
            </div>
            

       
        }
    </div>
</div>
