@using WebNewBook.Model
@*@using static WebNewBook.Controllers.QLPhieuNhapController*@
@*@model PhieuNhapViewModel*@

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container py-3" style="background-color: #f1f1f1;">
   
     <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <h6>
                <div class="row">
                    <div class="col-3">
                        <a type="button" class="btn btn-primary"asp-action="Create">
                            <i class="fa-solid fa-address-book"></i> Thêm phiếu nhập
                        </a>
                    </div>
                </div>
            </h6>
        </div>
    </div>
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <p>
                <table class="table">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Nhân viên</th>
                            <th scope="col">Sách</th>
                            <th scope="col">Giá nhập</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Ngày nhập</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.PhieuNhap)
                        {
                            <tr>
                                <th scope="row">@item.PhieuNhap.MaNhanVien</th>
                                <td>@item.Sach</td>
                                <td>@item.PhieuNhap.GiaNhap</td>
                                <td>@item.PhieuNhap.SoLuongNhap</td>
                                <td>@item.PhieuNhap.NgayNhap</td>        
                            </tr>
                        }
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</div>


