@{
   var  Model = ViewBag.KhachHang;
}
    <link rel="stylesheet" href="/bootstrap-5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.0-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.0-web/css/all.min.css">

    <div style="background-color: #f1f1f1;">
        <div class="row  p-1">
            <div class="col-3 mx-2">
                <div class="list-group">
                    <h4 class="list-group-item text-danger">TÀI KHOẢN</h4>
                    <a asp-action="account" class="list-group-item list-group-item-action ">
                        Bảng điều khiển tài khoản
                    </a>
                    <a asp-action="profile" class="list-group-item list-group-item-action ">Thông tin tài khoản</a>
                    <a asp-action="order" class="list-group-item list-group-item-action">Đơn hàng của tôi</a>
                    <a asp-action="VoucherWallet" class="list-group-item list-group-item-action">Ví Voucher</a>
                    <a asp-action="FpointHistory" class="list-group-item list-group-item-action ">Lịch sử F-point</a>
                </div>
            </div>
            <div class="col-8 bg-white fs-6 ">
                <h3>Bảng điều khiển khách hàng</h3>
                <br>
                <div>
                <p class="text-danger fw-bold text-center">Điểm tích lũy: <span>@Model.DiemTichLuy</span> Fpoint</p>
                </div>
                <br>
                <div class="p-2 bg-warning bg-opacity-25">
                    <div>
                    <p>Họ và tên : <span class="fw-bold">@Model.HoVaTen</span></p>
                    <p>Enail : <span class="fw-bold">@Model.Email</span></p>
                    </div>
                    <hr>
                    <div class="fst-italic">
                    <p>F-point : <a asp-action="FpointHistory">@Model.DiemTichLuy </a>đ</p>
                        <p>Số đơn hàng thành công năm 2022:      <span class="fw-semibold mx-5">2</span></p>
                        <p>Số tiền đã thanh toán 2022:         <span class="fw-semibold mx-5">20.000 đ</span></p>

                    </div>
                </div>
                <br>
                <div>
                    <h5>NHỮNG ĐƠN HÀNG GẦN ĐÂY <a href="#" style="padding-left: 350px ; font-size: 12px; " class="ms-5">Xem thêm</a></h5>
                    <hr>
                    <div>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div>
                    <h5 class="text-danger">ĐỊA CHỈ</h5>
                    <hr>
                    <div class="fw-light">
                        <p>ĐỊA CHỈ GIAO HÀNG</p>
                        <p>@Model.HoVaTen</p>
                        <p>@Model.DiaChi</p>
                    <p>Tel: <span>@Model.SDT</span></p>
                    </div>

                </div>

            </div>
        </div>


    </div>






    <script src="/bootstrap-5.2.1/dist/js/bootstrap.min.js"></script>
    <script src="/fontawesome-free-6.2.0-web/js/fontawesome.min.js"></script>
    <script src="/fontawesome-free-6.2.0-web/js/all.min.js"></script>
