@{
    var lstFpointKH = ViewBag.lstfpoin;
}

<div class="section">
    <strong>
    <div class="container" style="background-color: #f1f1f1; padding:20px;">
    <div class="row  p-1">
        <div class="col-md-3 mx-2">
            <div class="list-group">
                <h4 class="list-group-item text-danger">TÀI KHOẢN</h4>
                <a asp-action="account" class="list-group-item list-group-item-action ">
                    Bảng điều khiển tài khoản
                </a>
                <a asp-action="profile" class="list-group-item list-group-item-action ">Thông tin tài khoản</a>
                <a asp-action="order" class="list-group-item list-group-item-action">Đơn hàng của tôi</a>
                <a asp-action="VoucherWallet" class="list-group-item list-group-item-action">Ví Voucher</a>
                <a asp-action="FpointHistory" class="list-group-item list-group-item-action active">Lịch sử F-point</a>
            </div>
        </div>
            <div class="col-md-8  mx-4 " style="background-color:white ;padding:20px">
            <div style="background-color:white ;padding-left:20px" class=" mb-2 p-3 my-3">
                <h5>Tài khoản F-POINT</h5>
                <br>
                <div style="display: none;" class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Nạp điểm F-point / Freeship</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Nhập mã bạn ...">
                    </div>
                    <button class="col-sm-2 btn btn-sm btn-success rounded-pill opacity-75">Nạp điểm</button>
                </div>
                <div class="row mb-3">
                    <p class="col-sm-4">Số dư tài khoản:</p>
                    <span class="col-3 fw-bold" style="color:red">@String.Format( "{0:#,##0.##}",(ViewBag.Diemtichluy)) điểm</span>
                </div>
            </div>
            <div style="background-color:white;padding-left:20px" class="mb-1  p-3">
                <div style="font-size: 13px;">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Mã</th>
                                <th scope="col">Hành động</th>
                                <th scope="col">Ngày nhận</th>
                                <th scope="col">Điểm tích lũy</th>
                                @*                                    <th scope="col"><a>Chi tiết</a></th>*@


                            </tr>
                        </thead>
                        <tbody>
                            @if (lstFpointKH != null)
                            {
                                @foreach (var item in lstFpointKH)
                                {
                                    <tr>

                                        <td>@item.Id</td>
                                        <td>@item.NameHanhDong</td>
                                        <td>@item.CreatDate.ToString("d-M-yyyy")</td>
                                        <td>@String.Format( "{0:#,##0.##}",(item.Diemtichluy))</td>
                                    </tr>
                                }
                            }
                          

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
</strong>
</div>




