@{
    var modelCustome = ViewBag.KhachHang;
}
@using WebNewBook.Model
@model KhachHang





<div class="section">
    <div class="container" style="background-color: #f1f1f1; padding:20px;">
    <div id="load" style="display : block" class="loading">
        <div class="spinner-border text-primary spinner-center" role="status"></div>
    </div>
    <div class="row  p-1 ">
        <div class="col-md-3 mx-2">
            <div class="list-group">
                <h4 class="list-group-item text-danger">TÀI KHOẢN</h4>
                <a asp-action="account" class="list-group-item list-group-item-action ">
                    Bảng điều khiển tài khoản
                </a>
                <a asp-action="profile" class="list-group-item list-group-item-action active">Thông tin tài khoản</a>
                <a asp-action="order" class="list-group-item list-group-item-action">Đơn hàng của tôi</a>
                <a asp-action="VoucherWallet" class="list-group-item list-group-item-action">Ví Voucher</a>
                <a asp-action="FpointHistory" class="list-group-item list-group-item-action ">Lịch sử F-point</a>
            </div>
        </div>
        <div style="background-color:white" class="col-md-8  fs-6 my-3 ">
            <h4>Thông tin tài khoản</h4>
            <br>
            <form class="needs-validation " novalidate>


                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Họ và tên</label>
                    <div class="col-sm-10">
                        <input type="text" value="@modelCustome.HoVaTen" class="form-control form-control-sm" id="HoVaTen" placeholder="Họ và tên" required>
                    </div>
              
                </div>
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Số điện thoại</label>
                    <div class="col-sm-10">
                        <input readonly type="tel" value="@modelCustome.SDT" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Số điện thoại" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                    <div class="col-sm-10">
                        <input readonly type="email" value="@modelCustome.Email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Email" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Birthday</label>
                    <div class="col-md-3">
                        <input readonly type="number" value="@modelCustome.NgaySinh.ToString("dd")" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ngày">
                    </div>
                    <div class="col-md-3">
                        <input readonly type="number" value="@modelCustome.NgaySinh.ToString("MM")" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Tháng">
                    </div>
                    <div class="col-md-3">
                        <input readonly type="number" value="@modelCustome.NgaySinh.ToString("yyyy")" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Năm">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-10">
                        <input type="checkbox" value="Đổi mật khẩu" class="form-check-input form-control-sm-3" id="check_doimatkhau">
                        <label class="form-check-label" for="flexCheckDefault">
                            Đổi mật khẩu
                        </label>
                    </div>
                </div>
                <div style="display : none" id="list_passwork">
                    <div class="row mb-3">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Mật khẩu hiện tại</label>
                        <div class="col-sm-9">
                            <input type="text" value="@modelCustome.MatKhau" class="form-control form-control-sm" id="Passwork" placeholder="Mật khẩu hiện tại" required>
                        </div>
                       
                    </div>
                    <div class="row mb-3">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Mật khẩu mới</label>
                        <div class="col-sm-9">
                            <input type="text" value="@modelCustome.MatKhau" class="form-control form-control-sm" id="Passworknew" placeholder="Mật khẩu mới" required>
                        </div>
                      
                    </div>
                    <div class="row mb-3">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Nhập lại mật khẩu mới</label>
                        <div class="col-sm-9">
                            <input type="text" value="@modelCustome.MatKhau" class="form-control form-control-sm" id="NhaplaiPasswork" placeholder="Nhập lại mật khẩu mới" required>
                        </div>
                      
                    </div>
                </div>
                <div style="margin-left: 520px" class="d-grid gap-2 col-md-12 mx-auto">
                    <button class="btn btn-primary" type="button" id="btnluu">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>








<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
@section Scripts{
    <script>



        document.getElementById("load").style.display = 'none';
        var nhanPaswoeek = $("#NhaplaiPasswork").val();
        console.log(nhanPaswoeek)
        document.getElementById("check_doimatkhau").onclick = function () {
            var check = document.getElementById("check_doimatkhau")

            if (check.checked == true) {
                //mở
                document.getElementById("Passwork").value = "";
                document.getElementById("Passworknew").value = "";
                document.getElementById("NhaplaiPasswork").value = "";

                document.getElementById("list_passwork").style.display = 'block';
            } if (check.checked == false) {
                // đóng
                document.getElementById("Passwork").value = nhanPaswoeek
                document.getElementById("Passworknew").value = nhanPaswoeek
                document.getElementById("NhaplaiPasswork").value = nhanPaswoeek



                document.getElementById("list_passwork").style.display = 'none';
            }
        }




        $(function () {


            var Passcu = $("#Passwork").val();
            //Hủy voucher
            $("#btnluu").click(function () {
                var name = $("#HoVaTen").val();
                var PassPrevious = $("#Passwork").val();
                var Passnew = $("#Passworknew").val();
                var PassNewRe = $("#NhaplaiPasswork").val();
                if (!name == "" && !PassPrevious == "" && !Passnew == "" && !PassNewRe == "") {
                    if (name.length > 5) {
                        if (PassNewRe.length > 5 && Passnew.length > 5 && PassPrevious.length > 5) {
                            if (Passcu == PassPrevious) {
                                if (Passnew == PassNewRe) {

                                    $.ajax({
                                        type: "post",
                                        data: {

                                            HoVaTen: name,
                                            MatKhau: PassNewRe
                                        },
                                        url: "/profile_customer/UpdateAccount",
                                        success: function (response) {
                                            if (response == 1) {
                                               

                                                setTimeout(function () {
                                                    document.getElementById("load").style.display = 'block';
                                                    window.location.reload(1);


                                                }, 2000);
                                            }
                                            if (response == 0) {
                                                alert("thất bại");
                                            }
                                        }
                                    });
                                } else {
                                    alert("Mật khẩu mới nhập lại không khớp")
                                }

                            } else {
                                alert("Nhập sai Passwork")
                            }
                        } else {
                            alert("Mật khẩu phải trên 5 kí tự")
                        }

                    }
                    else {
                        alert("Họ và tên phải trên 5 kí tự")
                    }


                } else {
                    alert("Nhập đủ các ô trống")
                }

            });


        });
    </script>
}
